<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Reverse Proxy</title>
    
  </head>
  
  <body>

    <header class="container center-align">
      
      <h1>Telematics Final Project</h1>

      <h2>Web Serever 1</h2>
      
      <h3>Group members</h3>
      <ul>
	<li>Hamilton Tobon Mosquera</li>
	<li>Julian Mesa Pareja</li>
	<li>Daniel Ochoa Montes</li>
      </ul>
    </header>
    
  </body>
</html>
